<label>Please provide project_id (at the top of the main project, for example <a href="https://gitlab.com/lhtin-rivai/gcc">this project</a> has id 29908500)<input id="project_id"></label><br><br>
<label>Please provide ref_name (such as main, master)<input id="ref_name"></label><br><br>
<label>Please provide token (this is the trigger token you need to create in settings -> CI/CD -> Pipeline Triggers)<input id="token"></label><br><br>
<br><br><br>
<p>POST to this URL to trigger CI (you can use curl)</p><p id="output"></p>
<button onclick="triggerCI()">Or click here to trigger CI from the browser</button>
<script src=index.js></script>
